<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>
<form method="POST" action="{% url 'create' %}">
    {% csrf_token %}
    Name : <input type="text" name="name"><br><br>
    Address : <input type="text" name="address"><br><br>
    Phone Number : <input type="text" name="phone"><br><br>
    <input type="submit" value="submit">
</form>

</body>
</html>