<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    Hello dear!!<br>
{% for i in object%}
    <hr>
    <B>Name :</B> {{ i }} <br/>
    <B>Address :</B> {{ i.address }} <br/>
    <B>Contact :</B> {{ i.phone_number }} <br/>
    <hr>
{% endfor %}
</body>
</html>